{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Project {{project.name}}</h1>

  <!-- Toggle button for collapsed edit form -->
  <button class="btn btn-outline-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#editProjectForm" aria-expanded="false" aria-controls="editProjectForm">
    Edit Project
  </button>
  {% if can_edit %}<a class="btn btn-outline-warning mb-3">Manage access</a>{% endif %}

  <!-- Edit Project Form (collapsed by default) -->
  <div class="collapse" id="editProjectForm">
    <form method="post" action="{{ url_for('bp_project.project_update', project_id=project.id) }}">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ project.name }}" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4">{{ project.description }}</textarea>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{{ url_for('bp_project.project_delete', project_id=project.id) }}" class="btn btn-danger ms-2">
        Delete Project
      </a>
    </form>
  </div>

  <hr class="my-5">

  <!-- Normalizations Search -->
  <h2 class="mb-3">Normalizations</h2>
  <a href="{{url_for('bp_norm.normalization_list_route', project_id=project.id)}}" class="btn btn-primary">See normalizations</a>
  <a href="{{url_for('bp_norm.normalization_new_route', project_id=project.id)}}" class="btn btn-secondary">Create</a>
</div>
{% endblock %}
